*{
padding: 0px;
margin: 0px;	
}
.logo{
	margin-top: 0px;
	margin-left: 20px;
}
.logo img{
	width: 180px;
	height: 120px;
}
.navi{
	width: 100%;
	height: 110px;
	background-color: #FFE5B4;
	line-height: 70px;
}
.navi ul{
	margin-right: 30px;
}
.navi ul li a{
	text-decoration: none;
	font-size: 23px;
	color: black;
	}
.navi ul li{
	float: right;
	list-style-type: none;
	display: inline-block;
	padding: 20px;
	transition: 0.5s all;
}
.navi ul li:hover{
	background-color: #ffae71;
}
.back{
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat, repeat;
	background-image: url(../IMAGES/cone.png), url(../IMAGES/grey.png);
	background-blend-mode: lighten;
	background-size: cover;
	background-attachment: fixed;
}
.active{
	background-color: #ffcba4;
}
.cen{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.cen h1{
	font-size: 100px;
	color: #ffae71;
}
.bot{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.btn{
	border: 1px solid black;
	padding: 15px 45px;
	color: Black;
	text-decoration: none;
	transition: 0.7s ease;
}
.btn:hover{
	background-color: #ffae71;
}